# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/

# Environment variables - ASLA push etme
scanner/.env

# OS
.DS_Store
Thumbs.db

# Temp
*.tmp
*.log

# Referans dosyaları - yerel tutulur, push edilmez
_referans/

#Logo içerik dosyası github'da olmasına gerek yok
_logo/