APPWRITE_ENDPOINT=https://fra.cloud.appwrite.io/v1
APPWRITE_PROJECT_ID=6a2f3ae5000560f23d0c
APPWRITE_API_KEY=standard_xxxxxxxxxxxxxxxxxxxxxxxx
APPWRITE_DATABASE_ID=ebook_catalog
APPWRITE_TABLE_ID=books
APPWRITE_BUCKET_ID=covers
APPWRITE_USER_ID=your_user_id_here
